/data/
/bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OSX artifacts
*~
.DS_Store
._.*

# ad-hoc terminal launcher
*.bashrc

# PyCharm private artifacts
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/dictionaries/
/.idea/.name

# delve debug executable
debug
